
@media (max-width:790px) {

    body{
        background-image: url(./images/bg-mobile.svg);
        background-size:cover;
       
}
header{
    left: 60px;
}
.title, .fa-comment-dots{
    font-size: 26pt;
}
.pai{
    text-align: center;
}

main{
   top: 150px;
   text-align: center;
   align-items: center;
   display: block;
   padding: 20px;
   padding-right: 40px;
   padding-left: 40px;
   margin: 10px;
}
img{ width: 85vw;
}

.container{
    
    position: relative;
    top: 50px;
    padding: 30px;
    
  }
  button {
    width: 250px;
}
.media{
    position: relative;
   text-align: center;
   top: 300px;
   padding-bottom: 25px;
   padding-right: 0px;
   bottom: 10px;
   margin: 12px;
  
}
.fa-facebook-f, .fa-twitter, .fa-instagram{ 
    bottom: 80px;
    margin: 4px;
}}